.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(90, 90, 90, 0.5), rgba(90, 90, 90, 0.5)),
     url('../assets/hero.jpg');
    background-size: cover; 
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text{
    text-align: center;
    max-width: 800px;
}

.hero-text h1{
    font-size: 60px;
    font-weight: 600;
}

.hero-text {
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}

.hero-text img{
    width: 25px;
    margin-left: 5px;
}

