* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(90, 90, 90, 0.5), rgba(90, 90, 90, 0.5)),
     url('../assets/hero.jpg');
    background-size: cover; 
    color: #fff;
    text-shadow: 2px 2px 7px #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    padding-top: 50px;

}
.hero p{
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 1rem;
  padding-bottom: 40px;
  color: #ffffff;;
  font-weight: 550;
}

.hero-text{
    text-align: center;
    max-width: 800px;
}


.hero-text h1{
    font-size: 3.2rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
}

.hero-text {
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
    font-weight: 1000;
}

.hero-text img{
    width: 25px;
    margin-left: 5px;
}




/* Container para as colunas de produtos */
.produtos-container {
    display: flex;
    justify-content: center; /* Centraliza as colunas no contêiner */
    padding: 20px;
    gap: 2px; /* Reduz o espaço entre as colunas para 2 pixels */
    flex-wrap: wrap; /* Permite que as colunas se ajustem em telas menores */
    max-width: 1300px; /* Largura máxima do contêiner */
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
    background-color: #dcdcdc;
    

  }
  
 
  
  /* Cada coluna de produtos */
  .produtos-col {
    flex: 1;
    min-width: 200px; /* Largura mínima das colunas */
    display: flex;
    flex-direction: column; /* Empilha os cards verticalmente */
    align-items: center; /* Centraliza os cards horizontalmente na coluna */
  }
  
  /* Estilos para cada card de produto */
  .produto-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 180px; /* Largura dos cards */
    min-height: 320px; /* Altura mínima para os cards */
    margin: 5px 1px; /* Espaçamento reduzido entre os cards, horizontalmente e verticalmente */
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .produto-card:hover{
    transform: scale(1.1);
  }
  
  .produto-image {
    width: 100%;
    height: 150px; /* Altura fixa para a imagem */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço */
  }
  
  .produto-name {
    font-size: 1em; /* Tamanho da fonte dos nomes dos produtos */
    margin: 10px 0;
  }
  
  .produto-price {
    color: #333;
  }

  .produto-button {
    background-color: #444444; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.produto-button:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}

.botao{
  background-color:  #6d0606;
  color: aliceblue;
  text-align: center;
  padding: 15px 25px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

.botao:hover{
  background-color: rgb(82, 4, 4);
}