.sobre{
    margin-top: 60px;
    background-color: #dcdcdc;
}

.sobre img{
    width: 100%;
}

.sobre-texto{
    padding: 15vh;
    font: 1rem "Verdana", sans-serif;
}
.sobre-texto p{
    line-height: 2;

}

.sobre-texto h1{
    font-size: 2rem;
}

.sobre-texto h2{
    margin: 20px 0;
    font-size: 1.5rem;
}

@media(max-width:768px){
    .sobre-texto{
        padding: 10px;
        margin: 0;
    }
    .sobre-texto h1{
        font-size: 1.5rem;
    }
    .sobre-texto h2{
        font-size: 1.2rem;
    }
    .sobre img{
        margin-top: 11vh;
    }
}